.agendamento-tittle{
    background-image: url('../../../../assets/header/agendamento_perfil.png');
    background-size: cover;
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-agendados {
    padding: 20px;
    background-color: #1d1d1d;
    margin-left:8%;
    margin-inline: 5%;
    border-radius: 10px;
    margin-top: 2%;
    cursor: pointer;
    
}

.info-agendados p {
    margin-top: 3%;
    margin-right: 4%;
    font-size: 1.2rem;
    text-align: left;
}

.txt-dia{
    font-weight: bold;
    color: white ;
}

.text-info{
    display: flex;
    justify-content: space-between;
    
}

.alto-contraste .agendamento-tittle{
    background-image: none; 
}

.alto-contraste .agendamento-tittle h1 span{
    text-shadow: none;
    color: white;
}

@media (max-width: 768px){
    .info-agendados p{
        max-width: 100%;
        font-size: 1rem;
    }

    .agendamento-tittle h1{
        font-size: 2.2rem;
    }

}

