.perfis{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-left: 20%;
    margin-top: 3%;
    color: white;
    text-align: center;
}

.perfilAdmin{
    margin-right: 15%;
}

.perfilAdmin h2{
    width: 120%;
}

.perfilAdmin p{
    width: 120%;
}

.iconeAdmin{
    border-radius: 27px;
    width: 120%;
}

.perfil{
    display: flex;
}

.container-admin-modal-group{
    display: flex;
    flex-direction: column;
}

.btn-adicionar, .btn-cancelar{
    width: 40%;
    margin-top: 10%;
}

.modal-admin h4{
    margin-bottom: 13%;
}

input{
    width: 400px;
}

/*RESPONSIVIDADE*/
@media (max-width: 1024px){
    .perfis{
        margin-left: 30%;
        width: 65%;
    }
}

@media (max-width: 768px){
    .perfis{
        margin-left: 35%;
        width: 65%;
    }
    .btnCrud{
        margin-left: 58% !important;
    }
}