
.portfolio-container h3 {
    margin-top: 2%;
    margin-bottom: 2%;
    
}

.portfolio-container h2 {
    margin-bottom: 2%;
    margin-top: 5%;
}

#info-portfolio {
    background-color: var(--var-forms-background);
    width: 80%;
    padding: 20%;
    text-align: justify;
    align-self: center;
    border-radius: 10px;
    margin-bottom: 3%;
}

#info-portfolio p {
    opacity: 0.7;
}

.portfolio {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    padding: 16px;
    padding-left: 20%;
}

.portfolio img {
    max-width: 80%;
    height: auto;
    padding: 0px;
    border: none;}

#img-port{
    cursor: pointer;
    transition: 0.5s;
}

#img-port:hover{
    transform: scale(1.1);
}


#modal-container-portfolio
{
    width: 50%;
}

.modal-port.portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#modal-info-portfolio {
    display: flex;
    align-items: center;
    justify-content: center;
   
    margin-top: 5%;
}

.modal-info-description {
    width: 100%;
    max-width: 300px;

}

#modal-add-tatto{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

#modal-edit-tatto{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;   
}

.btn-modal{
    display: flex;
    padding-inline: 20%;
    justify-content:space-between;
    align-items: first baseline;
    
}

.inputp{
    margin-top: 10px;
    width: 100%;

}
#imageInputp{
    margin-top: 50%;
}

.modal-info-description-portfolio .h3,
.modal-info-description-portfolio .description {
    padding: 20px;
    background-color: #1d1d1d;
    margin-left: 15%;
    width: 100%;
    border-radius: 5px;
    margin-top: 2%;
}


.modal-info-description-portfolio .description h3 {
    margin-bottom: 12%;
}

.modal-info-description-portfolio .description p {
    margin-top: 3%;
    font-size: 0.9rem;
}

#modal-info-portfolio img {
    width: 45%;
}

.modal-close-button {
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    float: right;
    font-size: 2rem;
    cursor: pointer;
}

.modal-info-portfolio-description {
    width: 100%;
    max-width: 280px;
}

.modal-info-portfolio-description .h3,
.modal-info-portfolio-description .description {
    padding: 30px;
    background-color: #1d1d1d;
    margin-left: 15%;
    width: 100%;
    border-radius: 5px;
    margin-top: 2%;
}

.modal-info-portfolio-description .description h3 {
    margin-bottom: 12%;
}

.modal-info-portfolio-description .description p {
    margin-top: 3%;
    font-size: 0.9rem;
}

.tamanho-info {
    text-align: center;
    width: 100%;
}

.tamanho-info h3 {
    padding: 20px;
    background-color: #1d1d1d;
    border-radius: 5px;
    margin-top: 2%;
    width: 50%;
    margin: 5% 25%;
    align-self: center;
}

.valores-port.portfolio {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.valores-port.portfolio .btn-valor {
    background-color: #1d1d1d;
    width: 60px;
    height: 40px;
    padding: 2px;
    margin-bottom: 15%;
}

.valores-port.portfolio .btn-valor:hover {
    background-color: transparent;
    border: 1px solid white;
}


/* Estilos para tablets */
@media (max-width: 1124px) {
    .portfolio {
        grid-template-columns: repeat(3, 1fr);
    }
    #modal-container-portfolio{
        width: 70%;
        margin-left: 5%; 
    }
    #modal-edit-portfolio{
            width: 70%;
            margin-left: 5%;
    }
    #modal-add-portfolio{
        width: 70%;
        margin-left: 5%;
    }
}


@media (max-width: 875px) {
    .portfolio {
        grid-template-columns: repeat(2, 1fr);
        padding-left: 30%;
    }
    #modal-container-portfolio{
        width: 72%;
        margin-left: 5%;
    }
    #modal-edit-portfolio{
        width: 72%;
        margin-left: 5%;
    }
    #modal-add-portfolio{
        width: 72%;
        margin-left: 5%;
    }

}

@media (max-width: 800px) {


    .valores-port.portfolio {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        width: 100%;
        justify-content: center;
        align-items: center;
    }


    .valores-port.portfolio p{
    
        font-size: 0.9rem;
    }
    

}

/*Estilo para mobile*/
@media (max-width: 768px) {
    .portfolio-container h3 {
        font-size: 0.9rem;
    }
    .portfolio {
        grid-template-columns: repeat(2, 1fr);
        padding-left: 28%;
    }

    .portfolio {
        margin-bottom: 16px;
    }

    .modal-port.portfolio {
        flex-direction: column;
    }

    #modal-info-portfolio img {
        width: 100%;
    }

    .valores-port.portfolio {
        flex-direction: column;
        align-items: center;
    }

    .valores-port.portfolio .btn-valor {
        margin-bottom: 8px;
    }
}

@media (max-width: 675px) {
    .portfolio {
        display: flex;
        flex-direction: column;
        margin-left: 10%;
    }
    #modal-container-portfolio{
        height: 70% !important;
    }
    #modal-edit-portfolio{
        height: 70%;
    }
    #modal-add-portfolio{
        height: 70%;
    }
    .p-info{
        width: 70%;
        font-size: 0.8rem;
        text-align: center;
        margin-bottom: 10%;
        align-self: center;
    }
    #info-portfolio {
       margin-bottom: 10%;
       margin-top: 10%;
    }
    
    #info-portfolio p {
        font-size: 0.8rem;
        
    }
    .h2-info{
        font-size: 1.5rem;
        margin-top: 10%;
    }
    
    #modal-container-portfolio {
        width:60%;
        margin-left: 13%;
    }
    #modal-edit-portfolio {
        width:60%;
        margin-left: 13%;
    }
    #modal-add-portfolio {
        width:60%;
        margin-left: 13%;
    }

    .modal-port.portfolio {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #modal-info-portfolio {
        display: flex;
        flex-direction: column;
        margin-top: 5%;
    }

    #modal-info-portfolio img {
        width: 100%;
    }

    .modal-close-button {
        font-size: 1.5rem;
    }

    .modal-info-portfolio-description {
        width: 100%;
        
    }

    .modal-info-portfolio-description .h3,
    .modal-info-portfolio-description .description {
        padding: 10px;
        margin-left: 0%;
        margin-top: 2%;
        font-size: 0.8rem;
    }

    .modal-info-portfolio-description .description h3 {
        margin-bottom: 12%;
        font-size: 0.8rem;
    }

    .modal-info-portfolio-description .description p {
        margin-top: 3%;
        font-size: 0.8rem;
    }

    .tamanho-info {
        text-align: center;
        width: 100%;
    }

    .tamanho-info h3 {
        padding: 10px;
        margin-top: 2%;
        width: 100%;
        margin: 5% 0%;
        font-size: 0.8rem;
    }

    .valores-port.portfolio {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        width: 100%;
        justify-content: center;
        align-items: center;
    }


    .valores-port.portfolio .btn-valor {
        width: 80%;
        font-size: 0.9rem;
    }

    
    .valores-port.portfolio p{
       
        font-size: 0.9rem;
    }
    
    .btn-modal{
    width: 150%;
    flex-direction: column;    
}
}
