
.contato-tittle{
    background-image: url("../../../assets/header/contato-image.png");
}

.container {
    text-align: center;
}

.container-contato .logo-menuLog{
  margin-left: -20%;
}
.custom-toast-success {
  background-color: black; 
  color: #ffffff !important; 
}

.custom-toast-icon-success {
  color: var(--var-txt-lilas) !important; 
}

.custom-toast-progress-bar {
  background: var(--var-txt-lilas); 
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;
    max-width: 900px;
    margin: 5% auto;
    padding: 20px;
    background-color: var(--var-forms-background);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 100px;
    border: 1px solid rgb(177, 177, 177);
}

.form h4{
    color: white;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 5%;
}

.form p{
    color: white;
    margin-left: 5%;
    margin-top: 5%;
}

.form p a{
    color: white;
}

.form p a:hover{
    color: var(--var-txt-lilas);
}

.form #envelope{
  width: 50px;
  height: 50px;
  margin-top: 5%;
  color: var(--var-txt-lilas);
  margin-bottom: 1rem;
}

.container-form-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    grid-column: span 1;
}

.col-full {
    grid-column: span 2; 
  }

  .col-full #mensagem {
    width: 100%;
    height: 100px;
    resize: none;
  }

label {
    color: white;
    margin-bottom: 5px;
}

.btn-contato {
    width: 40%;
}

.alto-contraste .contato-tittle{
  background-image: none; 
}

.alto-contraste .contato-tittle h1 span{
  text-shadow: none;
  color: white;
}

.alto-contraste .form{
  background-color: transparent;
}

.alto-contraste .form #envelope{
  color: yellow;
}

.alto-contraste .form p a:hover{
  color: yellow;
}

.alto-contraste .btn-contato{
  background-color: transparent;
  border: 1px solid white;
  font-weight: 900;
}

.alto-contraste .btn-contato:hover{
  background-color: yellow;
  border: none;
  font-weight: 900;
  color: black;
}


@media (max-width: 768px) {
    .container-form-group {
      grid-template-columns: 1fr;
      grid-gap: 10px; 
    }
  
    .form-group {
      grid-column: span 1; 
    }
  
    
    input[type="text"],
    input[type="email"],
    input[type="tel"],
    textarea {
      width: 100%;
    }
  
    .form #envelope {
      width: 40px;
      height: 30px;
    }
  
    .btn-contato{
      width: 60%; 
      margin-top: 10px;
      font-size: 14px;
      text-align: center;
    }
  }
  

  @media (min-width: 769px) {
    .form {
      max-width: 900px; 
      margin: 5% auto; 
    }
  
    .container-form-group {
      grid-template-columns: 1fr 1fr; 
      grid-gap: 30px;
    }
  }
  
