:root{
    --fc-event-border-color: #A40C9F;
    --fc-event-bg-color: #A40C9F;
    --fc-today-bg-color: rgba(235, 28, 228, 0.218);
}

.custom-calendar{
    color: white;
    max-width: 1100px;
    width: 100%;
    height: 100%;
    margin-top: 2.5rem;
    padding-right: 2.5rem;
    margin-left: 20rem;
    padding-bottom: 3rem;
    z-index: 1;
}

.fc .fc-button-primary:disabled {
    background-color:var(--var-txt-lilas);
}

.fc .fc-button-primary:hover, .fc .fc-button-primary:focus {
    background-color:var(--var-txt-lilas);
}

.fc-direction-ltr .fc-button-group > .fc-button:not(:last-child), .fc-direction-ltr .fc-button-group > .fc-button:not(:first-child) {
    background-color:var(--var-lilas);
}

.fc-direction-ltr .fc-button-group > .fc-button:not(:last-child):hover, .fc-direction-ltr .fc-button-group > .fc-button:not(:first-child):hover {
    background-color:var(--var-lilas);
}

.fc .fc-button-primary:not(:disabled).fc-button-active:focus, .fc .fc-button-primary:not(:disabled):active:focus {
    background-color:var(--var-txt-lilas);
}

.fc .fc-button:not(:disabled) {
    background-color:var(--var-lilas);
}

.fc-h-event .fc-event-title-container {
    background-color:var(--var-txt-lilas);
}

@media (max-width: 1440px){
    .custom-calendar{
        margin-left: 18rem;
    }
}

@media (max-width: 1300px){
    .custom-calendar{
        margin-left: 17rem;
    }
}

@media (max-width: 800px){
    .custom-calendar{
        margin-left: 13rem;
        width: 70%;
    }
    .fc .fc-toolbar.fc-header-toolbar, .fc .fc-col-header-cell-cushion  {
        font-size: x-small;
    }
    .fc .fc-daygrid-month-start {
        font-size: smaller;
    }
    .fc .fc-timegrid-axis-cushion, .fc .fc-timegrid-slot-label-cushion, .fc-daygrid-dot-event .fc-event-title {
        font-size: small;
    }
}