
.cadastro-tittle{
    background-image: url("../../../assets/header/cadastro-image.png");
}

.container {
    text-align: center;
}

.container-cadastro .logo-menuLog{
  margin-left: -20%;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;
    max-width: 700px !important;
    margin: 5% auto;
    padding: 20px;
    background-color: var(--var-forms-background);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 100px;
    border: 1px solid rgb(177, 177, 177);
}

.form h4{
    color: white;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 5%;
}

.form p{
    color: white;
    margin-left: 5%;
    margin-top: 5%;
}

.form p a{
    color: white;
}

.form p a:hover{
    color: var(--var-txt-lilas);
}

.form #person-icon{
    width: 50px;
    height: 40px;
    margin-top: 5%;
}

.container-form-group{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

label {
    color: white;
    margin-bottom: 5px;
}

.btn-cadastrar {
    width: 40%;
}

.alto-contraste .cadastro-tittle{
  background-image: none; 
}

.alto-contraste .cadastro-tittle h1 span{
  text-shadow: none;
  color: white;
}

.alto-contraste .form{
  background-color: transparent;
}

.alto-contraste .form #person-icon{
  color: yellow;
}

.alto-contraste .form p a:hover{
  color: yellow;
}

.alto-contraste .btn-cadastrar{
  background-color: transparent;
  border: 1px solid white;
  font-weight: 900;
}

.alto-contraste .btn-cadastrar:hover{
  background-color: yellow;
  border: none;
  font-weight: 900;
  color: black;
}



@media (max-width: 768px) {
    .form {
      max-width: 100%; 
      margin: 5% 10px; 
    }

    .cadastro-tittle h1{
        font-size: 2.2rem;
    }

    .form h4{
        font-size: 1.5rem;
    }

    .form #person-icon{
        width: 40px;
        height: 30px;
    }
  
    .container-form-group {
      grid-template-columns: 1fr; 
      grid-gap: 10px; 
    }
  
    input {
      width: 100%; 
    }
  
    .btn-cadastrar {
      width: 40%;
      margin-top: 10px; 
      font-size: 14px;
      text-align: center;
    }
  }

  @media (min-width: 769px) {
    .form {
      max-width: 900px; 
      margin: 5% auto; 
    }
  
    .container-form-group {
      grid-template-columns: 1fr 1fr; 
      grid-gap: 30px;
    }
  }
  
