

.menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)); /* Torna as colunas responsivas */
    background-color: var(--var-background);
    margin-top: 2%;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    list-style: none;
}

#menu-drop-down{
    display: none;
}

.logo-menu{
    width: 180px;
    height: 84px;
    margin-left: 18%;
}

.menu ul {
    display: flex;
    justify-content: space-around;
    list-style: none; 
    padding: 0;
    margin: 0;
    margin-left: -18%;
    margin-right: 18%;
}

.menu ul li {
    margin-right: 10px;
    font-weight: 800;
    
}
.menu ul li a{
    color: white;
    text-decoration: none;
    font-weight: 800;
}

.menu ul li a:hover{
    color: var(--var-lilas);
}


.menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.menu-icon {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    margin-left: 50%;
    outline: none;
    font-size: 24px;
}

.menu-icon .icon-lines {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
    transition: 0.4s;
}

.menu-icon .icon-close {
    color: white;
    font-size: 24px;
    position: absolute;
    right: 30px;
    top: 15%;
    z-index: 1000000;
    transition: 0.4s;
}

.menu-list {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .menu-list.open {
    flex-direction: column;
    position: absolute;
    top: 104px; 
    right: -20%;
    background-color: var(--var-background);
    width: 50%;
    border-radius: 20px;
    height: 50%;
    padding: 40px;
    text-align: left;
    display: block;
    z-index: 1;
  }

  .menu-list li {
    margin-right: 10px;
  }

  .submenu-parent {
    cursor: pointer;
    position: relative;
    color: white;
    font-weight: 800;
  }
  
  .submenu {
    display: none;
    position: absolute;
    top: 25px;
    list-style: none;
    z-index: 1;
    border-radius: 5px;
    justify-content: center;
    text-align: center;
    background-color: black;
  }

  .submenu li{
    text-align: center;
    width: 100%;
    height: 25%;
    padding: 10px;
    background-color: var(--var-background);
  }

  .submenu li button{
    background: transparent;
    color: white;
    font-weight: 800;
    font-size: 16px;
    border: none;
    text-align: center;
  }

  .submenu li button:hover{
    color: var(--var-lilas);
  }
  
  .submenu-parent:hover .submenu {
    display: block;
  }

  .alto-contraste .menu ul li a:hover{
    color: yellow;
  }

  @media (max-width: 888px) {
    .logo-menuLog {
        margin-left: 10%;
      }
      
      .menu ul {
        margin-left: -10%;
        margin-right: 10%;
      }
  }
 
  @media (max-width: 816px) {
    .menu-list {
      display: none;
    }
  
    .menu-icon {
      display: flex;
    }
  
    .menu-icon.open {
      font-size: 24px;
    }
  
    #menu-normal{
        display: none;
    }
  
    #menu-drop-down{
      display: flex !important;
    }
  
    .menuHome ul li a{
      margin-left: 0;
    }
  
    .menu-list.open {
      width: 35vw !important;
      right: -10%;
      display: flex;
    }
    
    .menu-icon .icon-close {
      right: 3vw;
      top: 15vw;
      padding-top: 2vw;
    }
    
  }

  @media (max-width: 788px) {
    .menu-list {
      display: none;
    }

    .menu-icon {
      display: flex;
    }
  
    .menu-list.open {
      display: flex;
    }
  
    .menu-icon.open {
      font-size: 24px;
    }

    #menu-normal{
        display: none;
    }

    #menu-drop-down{
        display: flex;
    }
  }

@media (max-width: 400px) {
    .logo-menuLog {
        width: 140px;
        height: 64px;
        margin-left: 5%;
        margin-bottom: -8%;
    }
    .menu-list.open {
        top: 84px;
        right: -10%;
    }
    .menu-icon {
        margin-left: 50%;
    }
    .menu-header {
        margin-left: 60%;
        margin-top: -5%;
        width: 25%;
    }
    .menu{
        margin-top: 8%;
        height: 100px;
    }
    .accessibility-bar, .access-btn{
        font-size: 12px;
    }
}

@media (max-width: 367px) {
    .logo-menuLog {
        width: 140px;
        height: 64px;
        margin-left: 5%;
        margin-bottom: -8%;
      }
      .menu-list.open {
       top: 84px;
        right: -10%;

      }
      .menu-icon {
        margin-left: 50%;
      }
      
    .menu-header {
        margin-left: 50%;
        margin-top: -10%;
        width: 45%;

    }
    .menu{
        margin-top: 5%;
    }
  }

  @media (max-width: 320px){
    .menuHome ul li a {
        margin-left: -15px;
    }
  }
